@media only screen and (min-width: 35em){

    header {
        text-align: left;
        margin-left: 20px;
        padding: 10px;
    }

    .hero-img h1 {
        display: flex;
        position: absolute;
        margin: 0.6em 0.7em;
        font-size: 70px;
        background-color: #ccc5b9a1;
        width: 340px;
    }

    .hero-img img {
        height: 400px;
    }

    nav ul.hide {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: right;
    }

    nav button {
        display: none;
    }

    section.company-advertisement {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 60px 1fr;

    }

    section.company-advertisement h2 {
        grid-column: 1/6;
        height: 50px;
        margin: 0px;
        margin-top: 15px;
    }

    section.company-advertisement :nth-child(2) {
        grid-column: 1/2;
    }

    section.company-advertisement :nth-child(3) {
        grid-column: 2/3;
    }

    section.company-advertisement :nth-child(4) {
        grid-column: 3/4;
    }

    section.company-advertisement hr{
        width: 1px;
        height: 220px;
    }
    /****** treat section *******/
    .treat-sec img {
        display: flex;
        float: left;
        position: relative;
        width: 55%;
    }

    .treat-sec :nth-child(2) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 75px 65px 75px 65px;
        padding: 0;
        padding-left: 25px;
        padding-bottom: 10px;
    }

    .treat-sec div h2 {
        margin: 0;
    }

    /******* Weather Section *******/
    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .forecast {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 50px) ;
    }


}