@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap&family=Dosis&display=swap");

/****** Header ******/

header img {
  width: 150px;
  margin: 0;
}

/**** Navigation ****/


nav ul {
  list-style: none;
  display: block;
  background-color: #fffcf2;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0.8rem 2%;
  color: #eb5e28;
  border-top: 2.2px solid #dab28b;
  text-align: center;
}
nav ul li.active a {
  background-color: #faedcd;
  color: black;
}

nav ul li a:hover {
  background-color: #dab28b;
  color: #323d0e;
}

nav ul.hide {
  display: none;
}

nav button {
    text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-bottom: 10px;
  color: #d4a373;
}

/***** Main *****/
main {
  background-color: #fffcf2;
}
main.city .hero-img { 
  width: 100%;
  height: 500px;
  background: url(../images/Lerma-centro2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
main.home .hero-img { 
  width: 100%;
  height: 500px;
  background: url(../images/people-working.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

section img {
  box-sizing: border-box;
  margin: 20px;
}
.hero-img h1 {
    text-align: center;
    margin: 0;
    padding: 5px;

}

/***** Company ad section  *****/

section.company-advertisement img {
  
  box-shadow: 4px 4px 4px #555;
}

section.company-advertisement {
  background-color: #ccc5b9;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border-radius: 30px;
  margin: 20px;
}

.company-advertisement img:hover {
  width: 200px;
}
.company-advertisement hr {
  width: 95%;
  border: 2px solid #afa89a;
}

/****** Treat section *****/

.treat-sec img {
  margin: 0;
  width: 100%;
}

.treat-sec {
  background-color: #fffcf2;
}

.treat-sec div {
  padding: 20px;
}

.treat-sec div h2 {
  color: #eb5e28;
  font-family: "Aleo", serif;
}

.treat-sec div h3 {
  width: 80px;
  padding: 5px;
  border: 3px solid #403d39;
  border-radius: 15px;
  color: white;
  background-color: #403d3991;
  font-family: "Dosis", sans-serif;
}
.treat-sec div p {
  font-family: "Dosis", sans-serif;
}
.treat-sec div.button {
  display: grid;
  justify-content: center;
  font-family: "Aleo", serif;
  font-size: 25px;
}
.treat-sec button a {
  text-decoration: none;
  color: #403d39;
}
.treat-sec button {
  width: 130px;
  height: 70px;
  border-radius: 20px;
  border: 3px solid #eb5e28;
  background-color: #fffcf2;
}

.treat-sec button:hover {
  background-color: #eb5f28c0;
  color: white;
}
.treat-sec button a:hover {
  display: block;
  color: white;
}
/******* Contact Info *******/

.contact-info {
  display: grid;
  justify-items: center;
  background-color: #252422;
  padding: 10px;
}
.contact-info div {
  text-align: center;
}

.contact-info img {
  width: 10%;
}

.contact-info h2 {
  color: #ccc5b9;
}

.contact-info p {
  margin: 0 auto;
  margin-right: 20px;
  width: 500px;
  padding: 0 10px;
  color: #fffcf2;
}

.contact-info hr {
  color: #ccc5b9;
  background-color: #ccc5b9;
  height: 3px;
  width: 90%;
}

/******* Weather Section ********/
.box {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 8px 2px #EB5E28;
  width: 80%;
  text-align: center;
  background-color: #403D39;
  color: white;
}

.box :nth-child(2) span {
    text-shadow: 0px 0px 6px rgb(136, 135, 135);
    color: #EB5E28;
    font-size: 80px;
}
section.weather {
    display: grid;
    justify-content: center;
}
.forecast {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.forecast #dayofweek1,
.forecast #dayofweek2,
.forecast #dayofweek3 {
  color: #d4a373;
  font-size: 30px;
}

.forecast img {
    margin: 0;
    width: 100px;
}
.forecast hr {
    width: 160px;
    height: 1px;
    margin: 0 auto;
}

/**** Footer ****/
hr {
    margin: 0;
}

footer {
  padding: 10px;
  background-color: #fefae0;
  display: grid;
  grid-template-columns: 1fr 3px 1fr 3px 1fr ;
  grid-template-rows: auto;
  align-items: center;
  text-align: center;
  
  
}

footer hr {
    width: 1px;
    height: 40px;

}

footer p {
    width: 100%;
    margin: 0px;
}
footer a {
  color: #403d39;
  text-decoration: none;
}

footer a:hover {
  color: #EB5E28;
}

/********** Site Plan ***********/
#chamber-header {
  background-color: white;
  text-align: center;
}

main#chamber-main {
  background-color: #FFFCF2;
  width: 50%;
  margin: 0 auto
}
#chamber-main h1, #chamber-main h2 {
  font-family: "Aleo", serif;
  background-color: #eb5f289d;
}

#chamber-main p, #chamber-main h3 {
  font-family: "Dosis", sans-serif;
}

main#chamber-main img {
  width: 250px;
}
#c-sketches {
  display: inline-flex;
  flex-direction: column;
  margin: 0 250px;
}

#c-sketches img {
  margin: 15px 0px;
  box-shadow: 0 0 4px #555;
}
/*** Tables ***/

table tr td {
  border: 1px solid black;
  padding: 5px;
  
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
table tr td.aleo {
  font-family: "Aleo", serif;
}
table #_1{
  color: #252422;
  font-size: 30px;
}
table #_2 {
  color: #EB5E28;
  font-size: 20px;
  background-color: #FFFCF2;
}
table #_3 {
  color: #252422;
  background-color: #dab28b;
  font-size: 20px;
}
table #_4 {
  color: #252422;
  background-color: #fefae0;
}

table tr td.dosis {
  font-family: "Dosis", sans-serif;
}

table #_5 {
  background-color: #403D39;
  color: #EB5E28;
  font-size: 20px;
}
table #_6 {
  background-color: #faedcd;
  color: #d4a373;
  font-size: 20px;
}
table #_7 {
  background-color: #ccc5b9a1;
  color: #252422;
  font-size: 30px;
}
table #_8 {
  background-color: #252422;
  color: #ccc5b9;
  font-size: 25px;
}

/******* City section *********/
main.city {
  text-align: center;
  width: 100%;
}

main.city section{
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #403D39;
  color: #FFFCF2;
 
}
main.city section img{
  margin: 0;
  width: 290px;
}


/******** directory section *******/
main.directory {
  background-color: #CCC5B9;
}
main .companies-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}
div.companies-cards section {
  color: #FFFCF2;
  margin: 20px 0;
  padding: 20px ;
  border: solid 1px #555;
  width: 300px;
  background-color: #36343293;
}

div.companies-cards img {
  border: solid 3px #CCC5B9;
  width: 250px;
}

div.companies-cards section:hover {
  box-shadow: 4px 4px 4px #504f4f;
}

/****** Join Section ******/
.join-img img{
  width: 300px;
}
.join-img {
  text-align: center;
}
.join-img h1 {
  margin: 0;
}

main.join section.form {
  margin: 10px;
  display: grid;
  grid-template-columns: 350px;
  justify-content: center;
  justify-items: center;
}

main.join input {
  width: 350px;
  height: 25px;
  margin: 5px;
}

main.join section.buttons {
  text-align: center;
  margin-right: 1px;
}

main.join section.buttons button{
  width: 90px;
  height: 80px;
  font-size: 20px;
  margin-bottom: 10px;
  
}
/*----estandar----*/
main.join .buttons button.estandar {
  border: 2px solid #3A5EBB;
  color: #3A5EBB;
  background-color: transparent;
}
main.join button.estandar:hover{
  border: none;
  background-color: #3a5ebb;
  color: white;
}


/*----bronze----*/
main.join button.bronze {
  border: 2px solid #AF6E46;
  color: #AF6E46;
  background-color: transparent;
}
main.join button.bronze:hover{
  border: none;
  background-color: #AF6E46;
  color: black;
}

main.join .exp {
  display: none;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #403D39;
  color: #ccc5b9;
  font-size: 20px;
}

main.join .buttons div.show {
  display: block;
  position: relative;
}
/*----silver----*/
main.join button.silver {
  border: 2px solid #707070;
  color: #707070;
  background-color: transparent;
}
main.join button.silver:hover{
  border: none;
  background-color: #707070;
  color: white;
}
/*----gold----*/
main.join button.gold {
  border: 2px solid #C9B037;
  color: #C9B037;
  background-color: transparent;
}
main.join button.gold:hover{
  border: none;
  background-color: #C9B037;
  color: black;
}
main.join .form label {
  justify-self: left;
  
}
main.join div.submit {
  text-align: center;
}
main.join div.submit button{
  width: 130px;
  height: 70px;
  border-radius: 20px;
  border: 3px solid #eb5e28;
  background-color: #fffcf2;
  font-size: 20px;
}
main.join div.submit button:hover {
  background-color: #eb5f28c0;
  color: white;
}
main.join div.submit a {
  text-decoration: none;
  color: #403D39;
  display: block;
}
main.join div.submit a:hover {
  color: white;
}

/********* Contact us section *********/
section.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

section.contact-grid .contc-info {
}

section.contact-grid img {
  
}

