@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, header{
    background-color: #236e96;
    margin: 0 auto;
    padding: 10px;
}
header, h2, h3, nav li{
    font-family: 'Bebas Neue', cursive;
}
header img{
    width: 120px;
    height: auto;
}
header {
    display: flex;
    margin-bottom: 8px;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}
header section {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}
header h1 {
    margin: 0;
    color: #ffd700;
    text-shadow: 4px 4px #000;
} 

section .motto{
    margin: 0;
    text-shadow: 2px 2px hsl(51, 40%, 50%);
}

/*----Nav CSS----**********************/
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
}
nav {
    background-color: #15b2d3;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0,0.3);
}
nav ul li.active a {
    background-color: rgb(255, 228, 77);
    color:#236e96;

}
nav ul li a:hover {
    background-color: #ffd700;
    color:#144e6d;  
}



nav ul.hide{
    display: none;
}
/*********************************************************/

main {
    box-sizing: border-box;
    justify-content: center;
}
main h2 {
    text-align: center;
}

.placeholders {
    border: 1px dashed #000;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif ;
}



/*----Footer----**************************************/
footer{
    padding: 10px;
    text-align: center;
    background-color: #f3872f;
    border: solid #ffd700;
    font-family: 'Bebas Neue', cursive;
}
footer p{
    margin: 0px;
}