@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
header {
  background-color: #236e96;
  margin: 0 auto;
  padding: 10px;
}
header .pancakesBanner h3 {
 
  box-sizing: border-box;
}
#pancakesBanner {
  display: none;
  position: sticky;
  top: 0;
  text-align: center;
  margin: 0;
  padding: .1rem;
  max-width: 100%;
  height: 70px;
  background-color: #ffd700;
  z-index: 1;

}
header,
h2,
h3,
nav li {
  font-family: "Bebas Neue", cursive;
}
header img {
  width: 120px;
  height: auto;
}
header {
  display: flex;
  margin-bottom: 8px;
  padding: 5px 0;
  align-items: left;
  justify-content: left;
}
header section {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}
header h1 {
  margin: 0;
  color: #ffd700;
  text-shadow: 4px 4px #000;
}

section .motto {
  margin: 0;
  text-shadow: 2px 2px hsl(51, 40%, 50%);
}

/*----Nav CSS----**********************/
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
}
nav {
  background-color: #15b2d3;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li.active a {
  background-color: rgb(255, 228, 77);
  color: #236e96;
}
nav ul li a:hover {
  background-color: #ffd700;
  color: #144e6d;
}

nav ul.hide {
  display: none;
}
/*********************************************************/

main {
  padding: 0;
  background-color: white;
}
main p, span {
  font-family: "Noto Sans", sans-serif;
}
main h3,
h2 {
  background-color: #ffb4cd;
  text-shadow: 2px 2px hsla(51, 89%, 68%, 0.904);
  padding: 0.8rem 2%;
}

/*----Sections----**********************/
#box {
  position: relative;
  top: 340px;
  padding: 15px;
  
}
.sec-1{
  position: relative;
  bottom: 205px;
}
.sec-1 h2{
  padding: 10px;
  margin: 10px 0 0 0;
}

.sec-1 img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
}


.sec-2 {
  background-color: #ffb4cd;
  margin: 10px;
}
.sec-2 h3 {
  display: block;
  margin: 15px 0 0 0;
  text-align: center;
  font-size: 25px;
  background-color: hsl(340, 90%, 80%);
}

.sec-2 ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.forecast ul {
    display:flex;
    justify-content: space-between;
    
    
}
section .forecast li {
  text-align: center;
  color: #000;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.forecast img {
  width: 70px;
  height: auto;
}
section.sec-3 {
  background-color: white;
  margin: 0;
  padding: 0;
}
.contact {
  padding: 0.6rem 2rem;
  background-color: rgba(136, 136, 136, 0.219);
  font-family: "Noto Sans", sans-serif;
}
.contact p a {
  display: block;
  text-decoration: none;
}
.contact-img {
  display: none;
}

iframe {
  width: 100%;
  height: 85%;
}
/****************************************************************/
article {
  background-color: #15b3d33a;
  margin: 5px;
  padding: 5px;
}

article img {
  width: 100%;
  height: 350px;
  border: solid #ffffff;
}
/**********************************/

/*----Footer----**************************************/
footer {
  padding: 10px;
  text-align: center;
  background-color: #f3872f;
  border: solid #ffd700;
  font-family: "Bebas Neue", cursive;
}
footer p {
  margin: 0px;
}
