@media only screen and (min-width: 35em) {
  main {
    max-width: 600px;
    margin: 0 auto;
  }
  section.sec-1 {
    display: grid;
    justify-content: center;
  }
  #box,
  .sec-1 {
    position: static;
  }
  #box {
    position: absolute;
    top: 259px;
    background-color: rgba(255, 255, 255, 0.644);
    width: 240px;
    height: 220px;
    margin: 2.5em 2.5em;
    padding: 1em;
  }
  #box p {
    font-size: 15px;
  }
  .sec-2,
  article {
    margin: 10px 20px 0 20px;
  }
  .sec-2 {
    display: block;
      margin-top: 40px;
  }
  section.sec-3 {
    margin-top: 10px;
  }
  nav {
    background: rgb(21, 178, 211); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgb(21, 178, 211) 0%,
      rgb(0, 65, 158) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgb(21, 178, 211) 0%,
      rgb(0, 65, 158) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgb(21, 178, 211) 0%,
      rgb(0, 65, 158) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15b2d3', endColorstr='#00419e',GradientType=0 ); /* IE6-9 */
  }
  nav button {
    display: none;
  }
  nav ul.hide {
    display: block;
  }
  nav ul {
    margin-left: 2%;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0);
    padding: 0.8rem 1rem;
  }
  section .forecast li {
    padding-left: 1em;
    text-align: center;
    color: #000;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  section .forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: #000;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  /****************Clearfix*****************************/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /*************Lesson7 CSS****************************************/
  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    justify-items: center;
  }
  .img-shadow {
    width: 260px;
  }

  /****Lesson8*****/

  form {
    display: grid;
    justify-content: center;
  }
}
